/*general*/
$red: red;
$green: green;
$blue: blue;
$gray: #eff0f1;
$darkgray: darkgray;
.transition {transition:All 0.2s ease-in-out; -webkit-transition:All 0.2s ease-in-out; -moz-transition:All 0.2s ease-in-out; -o-transition:All 0.2s ease-in-out;}

.small-chart {
  background-color: #eff0f1;
  border: 2px $darkgray solid;
  .bar {
    height: 35px;
    max-width:100%;
  }
  .bar.pending {
    background-color: $gray;
  }
  .bar.running {
    background-color: $blue;
  }
  .bar.rejected {
    background-color: $red;
  }
  .bar.complete, .bar.accepted {
    background-color: $green;
  }
}

.change-list-row {
  .state {
    text-transform: capitalize;
  }
}
