<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
          <tr>
            <th>Changelist / Build</th>
            <th>Owner</th>
            <th>Time Started</th>
            <th>State</th>
            <th>Metrics</th>
            <th>Build</th>
            <th>Unit Test</th>
            <th>Functional Test</th>
          </tr>
        </thead>
        <tbody>
          <tr
          ng-repeat-start="changeListRow in vm.changeList track by $index"
          ng-click="vm.toggleVisibleRow($index)"
          expanded="vm.visibleRow === $index"
          change-list-row
          change-list-item="changeListRow"
          class="change-list-row"
          ng-class="[changeListRow.state, {'expanded': vm.visibleRow === $index}]"
          ></tr>
          <tr
          ng-repeat-end
          ng-if="vm.visibleRow === $index"
          change-list-detail
          change-list-item="changeListRow"
          class="change-list-detail-row"
          ng-class="changeListRow.state"
          >
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
